
main {
    padding: 30px 80px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;  // Les cartes se répartissent sur plusieurs lignes si nécessaire
    justify-content: flex-start;  // Espace uniformément les cartes sur chaque ligne
    gap: 60px;  // Ajoute de l'espace entre les cartes
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 1);
}

/* Media queries pour les mobiles */
@media (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        .break-mobile {
            display: block;  // Force le retour à la ligne en mobile
          }
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      background-color: white;
      padding: 0;
    }
  }
  