
main {
    padding: 30px 60px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;  // Les cartes se répartissent sur plusieurs lignes si nécessaire
    justify-content: space-between;  // Espace uniformément les cartes sur chaque ligne
    gap: 40px;  // Ajoute de l'espace entre les cartes
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 1);
}

