.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    font-size: 24px;
    font-weight: 500;

    .logo {
        height: 68px;
        width: auto;
    }
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;


    a {
        text-decoration: none;
        color: black;

        &:visited {
            color : black;
        }
    }
    
    .active-link {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    
    .header {
        font-size: 12px;
        padding: 20px;
        /* Texte en majuscule */
        text-transform: uppercase;

        .logo {
            height: 46px;
        }
    }
}
