@import '../Style/_Variables.scss' ; 


.logement-card {
    display: flex;
    flex-direction: column;
    border-radius : 10px;
    width: calc(33.333% - 40px);  // Chaque card prend environ 1/3 de la largeur, avec un espace entre les cartes
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    margin-bottom: 40px;
    text-decoration: none;

    &:hover {
        transform: translateY(-5px);  // Effet de survol
    }

    .logement-image {
        width: 100%;
        height: 67%;
        object-fit: cover;
        border-radius : 10px 10px 0 0;
    }

    .logement-info {
        padding: 15px;
        background-color: $theme-color;
        border-radius: 0 0 10px 10px;
        height: 33%;

        h2 {
            font-size: 20px;
            color: #fff;
        }
    }
}
