@import '../../../Style/_Variables.scss' ; 

.star-rating {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  
    .star {
      font-size: 24px;
      color: lightgray;  // Couleur pour les étoiles vides
  
      &.filled {
        color: $theme-color;  // Couleur pour les étoiles pleines
      }
    }
  }

  @media (max-width: 768px) {

    .star-rating {
      gap: 5px;
      justify-content: flex-start;

      .star {
        font-size: 13px;
      }
    }

  }
  